.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: #5181b8;
}

.search-form input {
  border-radius: 5px;
  border-color: #5181b8;
  width: 350px;
  height: 30px;
}
